In [71]:
import pandas as pd

In [72]:
from pathlib import Path
%matplotlib inline

In [73]:
pwd

'C:\\Users\\anjan\\onedrive\\desktop\\fintech\\python-homework'

In [74]:
csvpath = Path("Pybank/budget_data.csv")

In [75]:
df = pd.read_csv(csvpath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [77]:
change_row = df["Profit/Losses"].diff()

In [86]:
df.insert(2,"change",change_row)
df()

Date              Sep-2016
Profit/Losses      1170593
change           1926159.0
dtype: object

In [80]:
cr = pd.DataFrame(change_row, columns=['month','Profit/Losses'])
cr

        Date  Profit/Losses     change
25  Feb-2012        1170593  1926159.0

In [106]:
df.max()

Date              Sep-2016
Profit/Losses      1170593
change           1926159.0
dtype: object

In [107]:
df.min

<bound method NDFrame._add_numeric_operations.<locals>.min of         Date  Profit/Losses    change
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]>

In [108]:
df.min()

Date              Apr-2010
Profit/Losses     -1196225
change          -2196167.0
dtype: object

In [112]:
greatest = df['change'].max()
greatest

1926159.0