In [68]:
#Import Pandas and Path
import pandas as pd
from pathlib import Path
import csv

In [69]:
pwd

'C:\\Users\\anjan\\onedrive\\desktop\\fintech\\python-homework\\PyBank'

In [70]:
#Read csv data
csvpath = Path("budget_data.csv")
budget = pd.read_csv(csvpath)
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [71]:
#Initiate variables
total_months = 0
net_pnl = 0
avg_pnl = 0
greatest_increase = 0
greatest_decrease = 0

In [72]:
#Total number of months using count function
total_months = budget["Date"].count()
print(f"Total Months: {total_months}")

Total Months: 86

In [73]:
#Net Profit/Losses using sum function
net_pnl = budget["Profit/Losses"].sum()
print(f"Total: ${net_pnl}")

Total: $38382578

In [74]:
#Average change in Profit/Losses using mean function
change_row = budget["Profit/Losses"].diff()
avg_change = round(change_row.mean(),2)
print(f"Average Change: ${avg_change}")

Average Change: $-2315.12

In [75]:
#Insert column for change
budget.insert(2,"change",change_row)

In [76]:
#Greatest increase
greatest_increase = budget['change'].max()
print(f"Greatest Increase in Profits: {greatest_increase}")

Greatest Increase in Profits: 1926159.0

In [77]:
#Locate greatest increase month
budget.loc[(budget["change"] == 1926159.0)]

        Date  Profit/Losses     change
25  Feb-2012        1170593  1926159.0

In [78]:
#Isolate greatest increase month
greatest_increase_month = budget["Date"]
print(f"Month with Greatest Increase: {greatest_increase_month[25]}")

Month with Greatest Increase: Feb-2012

In [79]:
#Greatest decrease
greatest_decrease = budget["change"].min()
print(f"Greatest Decrease in Profits: {greatest_decrease}")

Greatest Decrease in Profits: -2196167.0

In [80]:
#Locate greatest decrease month
budget.loc[(budget["change"] == -2196167.0)]

        Date  Profit/Losses     change
44  Sep-2013       -1196225 -2196167.0

In [81]:
#Isolate greatest decrease month
greatest_decrease_month = budget["Date"]
print(f"Month with Greatest Decrease: {greatest_decrease_month[44]}")

Month with Greatest Decrease: Sep-2013

In [100]:
#Results for Financial Analysis
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${net_pnl}")
print(f"Average Change: ${avg_change}")
print(f"Greatest Increase in Profits: {greatest_increase_month[25]} (${greatest_increase}")
print(f"Greastest Decrease in Profits: {greatest_decrease_month[44]} (${greatest_decrease}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0
Greastest Decrease in Profits: Sep-2013 ($-2196167.0

In [109]:
#Set Path for output file
output = Path("output.txt")
f = open("output.txt", "w")

In [110]:
#Write Financial Analysis to output file
f.write("Financial Analysis \n")
f.write("---------------------------- \n")
f.write(f"Total Months: {total_months} \n")
f.write(f"Total: ${net_pnl} \n")
f.write(f"Average Change: ${avg_change} \n")
f.write(f"Greatest Increase in Profits: {greatest_increase_month[25]} (${greatest_increase}) \n")
f.write(f"Greastest Decrease in Profits: {greatest_decrease_month[44]} (${greatest_decrease}) \n")
f.close()