In [4]:
#Import Pandas and Path
import pandas as pd
from pathlib import Path

In [5]:
pwd

'C:\\Users\\anjan\\onedrive\\desktop\\fintech\\python-homework'

In [6]:
csvpath = Path("PyBank/budget_data.csv")

In [7]:
budget_data = pd.read_csv(csvpath)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503